<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<httpHandlers>
			<add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
		</httpHandlers>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add path="*" name="ServiceStack.Factory" preCondition="integratedMode"
				 type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack, Version=3.9.71.0, Culture=neutral"
				 verb="*" resourceType="Unspecified" allowPathInfo="true" />
		</handlers>
		<directoryBrowse enabled="true" />
	</system.webServer>
</configuration>